<ul>
        <style>
                ul {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    overflow: hidden;
                    background-color: #027b74;
                }
            
                li {
                    float: left;
                }
            
                li a,
                .dropbtn {
                    display: inline-block;
                    color: white;
                    text-align: center;
                    padding: 14px 16px;
                    text-decoration: none;
                }
            
                li a:hover,
                .dropdown:hover .dropbtn {
                    background-color: #0faaa5;
                    color: black;
                }
            
                li.dropdown {
                    display: inline-block;
                }
            
                .dropdown-content {
                    display: none;
                    position: absolute;
                    background-color: #f9f9f9;
                    min-width: 160px;
                    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                    z-index: 1;
                }
            
                .dropdown-content a {
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                    text-align: left;
                }
            
                .dropdown-content a:hover {
                    background-color: #f1f1f1
                }
            
                .dropdown:hover .dropdown-content {
                    display: block;
                }
            </style>
    <li><a href="/">Home</a></li>
    <li class="dropdown">
        <a href="https://josephworks.github.io/PROJECTS" class="dropbtn">Projects</a>
        <div class="dropdown-content">
            <a href="#">Comming Soon!</a>
            <a href="#">Comming Soon!</a>
            <a href="#">Comming Soon!</a>
        </div>
    </li>
    <li class="dropdown">
        <a href="https://josephworks.github.io/CONNECT" class="dropbtn">Servers</a>
        <div class="dropdown-content">
            <a href="http://josephworks.ddns.net">Homepage</a>
            <a href="http://josephworks.ddns.net:8080">Jenkins</a>
            <a href="http://josephworks.ddns.net:10000">Server Control Pannel</a>
        </div>
    </li>
    <li><a href="https://josephworks.github.io/CONTRIBUTE">Contribute</a></li>
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Contact</a>
        <div class="dropdown-content">
            <a href="https://josephworks.github.io/SUPPORT">Support</a>
            <a href="https://josephworks.github.io/DISCORD">Discord</a>
        </div>
    </li>
    <li><a href="https://github.com/josephworks/">Our GitHub</a></li>
</ul>